// 定义颜色规范
$color-background-l: #fff;
$color-background-d: #F5F5F5;

$color-text: #333;
$color-text-d: #111;
$color-text-l: #999;
$color-text-price: #d81e06;

// 定义文本的font-size规范
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 20px;
